@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<div class="container pb-5">

    <div class="row pt-4">
        <div class="col-6">
            <h2>Employee List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp asp-controller="Employee" asp-action="Create" class="btn btn-success text-black">
                <i class="bi bi-patch-plus"></i> &nbsp; Create New Employee
            </a>
        </div>
    </div>


    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="text-center">
                    Identity Number
                </th>
                <th class="text-center">
                    FirstName
                </th>
                <th class="text-center">
                    LastName
                </th>
                @*<th class="text-center">
                    Employee Count
                </th>*@
                <th class="text-center">
                    CompanyId
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody @foreach (var obj in Model)
               {
            <tr>
                <td width="25%" class="text-center">
                    @obj.IdentityNumber
                </td>

                 <td width="10%" class="text-center">
                    @obj.FirstName
                </td>
                <td width="15%" class="text-center">
                    @obj.LastName
                </td>
                @*<td width="10%" class="text-center">
                    @obj.EmployeeCount
                </td>*@
                <td width="40%" class="text-center">
                    @obj.CompanyId
                </td>
                <td width="10%">

                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@obj.Id"> <i class="bi bi-pencil"></i> Edit</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    </table>


</div>